# Conhecendo o DataSet

- Link original do dataset:
https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data

- Link traduzido:

https://raw.githubusercontent.com/romulosilvestre/semanaclassificacao-parte2/refs/heads/master/datasets/anacondabank_credit_scoring.csv

In [1]:
# instalar pandas
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
url = "datasets/anacondabank_credit_scoring.csv"

In [4]:
df = pd.read_csv(url)

In [5]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [6]:
df.columns

Index(['default', 'conta_corrente', 'prazo_emprestimo_meses',
       'historico_credito', 'proposito_emprestimo', 'valor_emprestimo',
       'reserva_cc', 'tempo_emprego_atual', 'taxa_comp_salario',
       'sexo_est_civil', 'outros_fiadores', 'anos_residencia_atual',
       'propriedade', 'idade', 'outros_planos_financiamento',
       'tipo_residencia', 'n_creditos_banco', 'status_emprego',
       'n_dependentes', 'telefone', 'trabalhador_estrangeiro'],
      dtype='object')

In [7]:
# Pega quais os tipos de valores Ãºnicos 
df['conta_corrente'].unique()

array(['< 0 DM', '0 <= ... < 200 DM', 'no checking account',
       '>= 200 DM / salary assignments for at least 1 year'], dtype=object)

In [8]:
dict_cc = {
    '< 0 DM':1,
    '0 <= ... < 200 DM':2,
    'no checking account':3,
    '>= 200 DM / salary assignments for at least 1 year':4
}

In [9]:
df['conta_corrente'] = df['conta_corrente'].map(dict_cc)

# Coluna Trabalhador Estrangeiro

In [10]:
df['trabalhador_estrangeiro'].unique()

array(['yes', 'no'], dtype=object)

In [11]:
dict_te = {
    'no':0,
    'yes':1
}

In [12]:
df['trabalhador_estrangeiro'] = df['trabalhador_estrangeiro'].map(dict_te)

# Coluna Tempo emprego atual

In [13]:
df['tempo_emprego_atual'].unique()

array(['.. >= 7 years', '1 <= ... < 4 years', '4 <= ... < 7 years',
       'unemployed', '... < 1 year '], dtype=object)

In [14]:
dict_tea = {
    '.. >= 7 years':1,
    '1 <= ... < 4 years':2,
    '4 <= ... < 7 years':3,
    'unemployed':4,
    '... < 1 year ':5
}

In [15]:
df['tempo_emprego_atual'] = df['tempo_emprego_atual'].map(dict_tea)

In [16]:
df['historico_credito'].unique()
#dicionÃ¡rio
dict_historico= {
    'critical account/ other credits existing (not at this bank)':1,
    'existing credits paid back duly till now':2,
    'delay in paying off in the past':3,
    'no credits taken/ all credits paid back duly':4,
    'all credits at this bank paid back duly':5
}
#map
df['historico_credito']= df['historico_credito'].map(dict_historico)

In [17]:
df['proposito_emprestimo'].unique()

dict_pe = {
    'domestic appliances':1,
    '(vacation - does not exist?)':2,
    'radio/television':3,
    'car (new)':4,
    'car (used)':5,
    'business':6,
    'repairs':7,
    'education':8,
    'furniture/equipment':9,
    'retraining':10

}

In [18]:
df['proposito_emprestimo'] = df['proposito_emprestimo'].map(dict_pe)

df["reserva_cc"].unique()

dict_rcc = {
    "unknown/ no savings account":0,
    "... < 100 DM":1,
    "500 <= ... < 1000 DM ":2,
    ".. >= 1000 DM ":3,
    "100 <= ... < 500 DM":4,
}

In [19]:
df["reserva_cc"] = df["reserva_cc"].map(dict_rcc)

#unique
df['sexo_est_civil'].unique()
#dicionÃ¡rio
sexo_est_civil ={
    'male : single':1,
    'female : divorced/separated/married':2,
    'male : divorced/separated':3,
    'male : married/widowed':4
}
#map
df['sexo_est_civil']=df['sexo_est_civil'].map(sexo_est_civil)

In [20]:
#unique
df['propriedade'].unique()
#dicionÃ¡rio
dict_propriedade = {
    'real estate':1,
    'real estate':2,
    'real estate':3,
    'if not A121 : building society savings agreeme...	':4,
    'unknown / no property	':5
}
#map
df[ 'propriedade'] = df['propriedade'].map(dict_cc)

In [21]:
df['outros_planos_financiamento'].unique()

dict_opf = {
    'none':1,
    'bank':2,
    'stores':3
}

df['outros_planos_financiamento'] = df['outros_planos_financiamento'].map(dict_opf)

In [22]:
#unique
df['tipo_residencia'].unique()

#dicionÃ¡rio
dict_tr = {
    'own':1,
    'for free':2,
    'rent':3,
}
#map
df['tipo_residencia'] =df['tipo_residencia'].map(dict_tr)

In [23]:
#unique
df['tipo_residencia'].unique()

#dicionÃ¡rio
dict_tr = {
    'own':1,
    'for free':2,
    'rent':3,
}
#map
df['tipo_residencia'] =df['tipo_residencia'].map(dict_tr)

In [24]:
#unique
df['telefone'].unique()


#dicionÃ¡rio
dict_tel = {
    'none':0,
    'yes, registered under the customers name ':1,
}

#map
df['telefone'] = df['telefone'].map(dict_tel)

In [25]:
#unique
df['trabalhador_estrangeiro'].unique()

#dicionÃ¡rio
dict_te = {
    'no':0,
    'yes':1
}

#map
df['trabalhador_estrangeiro'] = df['trabalhador_estrangeiro'].map(dict_te)

In [26]:
df["outros_fiadores"].unique()
dict_of = {
    "none":1,
    "guarantor":2,
    "co-applicant":3,
}

df["outros_fiadores"] = df["outros_fiadores"].map(dict_of)

In [27]:
#unique
df['tempo_emprego_atual'].unique()

#dicionÃ¡rio
dict_tea = {
    '.. >= 7 years':1,
    '1 <= ... < 4 years':2,
    '4 <= ... < 7 years':3,
    'unemployed':4,
    '... < 1 year ':5
}
#map
df['tempo_emprego_atual'] = df['tempo_emprego_atual'].map(dict_tea)

In [28]:
df['status_emprego'].unique()
dict_status_emprego = {
    'skilled employee / official':1,
    'unskilled - resident':2,
    'management/ self-employed/ highly qualified employee/ officer':3,
    'unemployed/ unskilled - non-resident':4
}
df['status_emprego'] = df['status_emprego'].map(dict_status_emprego)

# RegressÃ£o LogÃ­stica

In [29]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (from scikit-learn) (2.1.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\ead\documents\rafael\inteligenciaartificial\anacondabank_m\.venv\lib\site-packages (from scikit-learn) (3.5.0)